===================================================================================================================================================================================================

Graded Challenge 3

Nama  : Abraham Rashid Haikal

Batch : HCK-018

Notebook ini dibuat untuk mendokumentasi proses web scrapping data penjualan seblak di tokopedia dan analisis statistik untuk menjawab problem statement tentang menambah penghasilan bulanan dengan menjual seblak di Tokopedia.

===================================================================================================================================================================================================

# A. Web Scrapping

## 1. Pengambilan data dari halaman Tokopedia

In [2]:
# Persiapan untuk scrapping data
from bs4 import BeautifulSoup
from selenium import webdriver
import pandas as pd
import time

In [54]:
# Menyiapkan selenium webdriver untuk mengakses halaman pencarian 'seblak' di Tokopedia
driver = webdriver.Chrome()
url = f"https://www.tokopedia.com/search?navsource=&page={x}&q=seblak&search_id=20240628081749F0B5CE305DD6F10372N7&srp_component_id=02.01.00.00&srp_page_id=&srp_page_title=&st="
driver.get(url)
html = driver.page_source

Mengambil elemen nama produk dari

`<span class="OWkG6oHwAppMn1hIBsC3pQ==">Kylafood Seblak Rempah Authentik</span>`

In [56]:
# Mencari elemen nama produk
product_name = soup.find("span", {"class": "OWkG6oHwAppMn1hIBsC3pQ=="})

product_name.get_text()

'Kylafood Seblak Rempah Authentik'

Mengambil elemen harga produk dari

`<div class="_8cR53N0JqdRc+mQCckhS0g== Phc0SDQ0Yjt43vf3XuwYOg==">Rp12.225</div>`

In [57]:
price = soup.find("div", {"class":"_8cR53N0JqdRc+mQCckhS0g=="})

price.get_text().strip()

'Rp12.225'

Mengambil elemen nama penjual dari

`<span class="X6c-fdwuofj6zGvLKVUaNQ== -9tiTbQgmU1vCjykywQqvA== flip">Brother Meat Shop</span>`

In [40]:
penjual = soup.find("span", {"class":"X6c-fdwuofj6zGvLKVUaNQ== -9tiTbQgmU1vCjykywQqvA== flip"})

penjual.get_text().strip()

'Brother Meat Shop'

Mengambil elemen lokasi toko dari

`<span class="X6c-fdwuofj6zGvLKVUaNQ== -9tiTbQgmU1vCjykywQqvA== flip">Depok</span>`

In [41]:
lokasi = soup.find("span", {"class":"-9tiTbQgmU1vCjykywQqvA== flip"})

lokasi.get_text().strip()

'Depok'

Mengambil elemen jumlah produk terjual dari

`<span class="eLOomHl6J3IWAcdRU8M08A==">500+ terjual</span>`

In [45]:
jumlahTerjual = soup.find("span", {"class":"eLOomHl6J3IWAcdRU8M08A=="})
jumlahTerjual.get_text().strip()

'500+ terjual'

Mengambil elemen rating produk dari

`<span class="nBBbPk9MrELbIUbobepKbQ==">5.0</span>`

In [48]:
rating = soup.find("span", {"class":"nBBbPk9MrELbIUbobepKbQ=="})
rating.get_text().strip()

'4.9'

Memasukkan elemen-elemen yang diperoleh untuk web scrapping

In [116]:
# url
url = 'https://www.tokopedia.com/search?navsource=&page=1&q=seblak&search_id=20240628081749F0B5CE305DD6F10372N7&srp_component_id=02.01.00.00&srp_page_id=&srp_page_title=&st='

# access website
driver.get(url)

# melakukan scroll pada halaman untuk memuat lebih banyak elemen
driver.execute_script("window.scrollTo(0, 1080)")


# mengambil elemen html
html = driver.page_source

# # parsing
page = BeautifulSoup(html, 'html.parser')

# membuat wadah untuk menampung nilai
nama_produk = []
harga_produk = []
penjual = []
kota_toko = []
banyaknya_terjual = []
rating_produk = []

# mencari kotak tempat elemen-elemen yang diperlukan berada
boxes = page.find_all("div", {"class": "css-5wh65g"})

# mengambil nilai dari elemen-elemen yang diperoleh dalam kotak yang sudah dicari
for box in boxes:
    # melakukan try-except untuk mengambil nama dan menambahkan nilai 'None' jika nilai yang diperoleh berupa nonetype
    try:

        # mencari nama produk
        list_nama = box.find("span", {"class": "OWkG6oHwAppMn1hIBsC3pQ=="})
        # memasukkan nilai ke wadah
        for nama in list_nama:
            nama_produk.append(nama.get_text().strip())
    except:
        nama_produk.append(None)

    try:
        # mencari harga produk
        list_harga = box.find("div", {"class":"_8cR53N0JqdRc+mQCckhS0g=="})
        # Memasukkan nilai ke wadah
        for harga in list_harga :
            harga_produk.append(harga.get_text().strip())
    except:
        harga_produk.append(None)

    try:
        # mencari nama penjual
        list_penjual = box.find("span", {"class":"X6c-fdwuofj6zGvLKVUaNQ== -9tiTbQgmU1vCjykywQqvA== flip"})
        # memasukkan nilai ke wadah
        for penju in list_penjual:
            penjual.append(penju.get_text().strip())
    except:
        penjual.append(None)

    try:
        # mencari lokasi toko
        list_lokasi = box.find("span", {"class":"-9tiTbQgmU1vCjykywQqvA== flip"})
        # memasukkan nilai ke wadah
        for lokasi in list_lokasi:
            kota_toko.append(lokasi.get_text().strip())
    except:
        kota_toko.append(None)

    try:
        # mencari jumlah produk terjual
        list_jumlah = box.find("span", {"class":"eLOomHl6J3IWAcdRU8M08A=="})
        # memasukkan ke wadah
        for jumlah in list_jumlah:
            banyaknya_terjual.append(jumlah.get_text().strip())
    except:
        banyaknya_terjual.append(None)

    try:
        # mencari rating produk
        list_rating = box.find("span", {"class":"nBBbPk9MrELbIUbobepKbQ=="})
        # memasukkan nilai ke wadah
        for rate in list_rating:
            rating_produk.append(rate.get_text().strip())
    except:
        rating_produk.append(None)

In [93]:
# melakukan pengecekan bahwa jumlah data dalam setiap wadah berjumlah sama
print(len(nama_produk))
print(len(harga_produk))
print(len(penjual))
print(len(kota_toko))
print(len(banyaknya_terjual))
print(len(rating_produk))

85
85
85
85
85
85

In [119]:
# Memasukkan nilai pada wadah ke sebuah dataframe dan mengecek data
halaman = pd.DataFrame({
    'nama produk' : nama_produk,
    'harga produk': harga_produk,
    'penjual' : penjual,
    'kota toko': kota_toko,
    'banyaknya terjual' : banyaknya_terjual,
    'rating produk' : rating_produk
})

halaman.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 85 entries, 0 to 84
Data columns (total 6 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   nama produk        30 non-null     object
 1   harga produk       30 non-null     object
 2   penjual            30 non-null     object
 3   kota toko          30 non-null     object
 4   banyaknya terjual  30 non-null     object
 5   rating produk      30 non-null     object
dtypes: object(6)
memory usage: 4.1+ KB

Berdasarkan info dari satu halaman diperoleh bahwa data yang diambil tiap halaman berjumlah 85 data namun hanya 30 yang tidak bernilai 'None'. Langkah selanjutnya adalah membuat code untuk melakukan web scrapping pada beberapa halaman dengan looping.

In [135]:
# membuat wadah
nama_produk = []
harga_produk = []
penjual = []
kota_toko = []
banyaknya_terjual = []
rating_produk = []

driver = webdriver.Chrome()


for page in range (1, 11):

    # url
    url = f'https://www.tokopedia.com/search?navsource=&page={page}&q=seblak&search_id=20240628081749F0B5CE305DD6F10372N7&srp_component_id=02.01.00.00&srp_page_id=&srp_page_title=&st='

    # access website
    driver.get(url)

    # scroll website
    driver.execute_script("window.scrollTo(0, 1080)")

    # memberikan jeda untuk memperoleh elemen
    time.sleep(1)

    driver.execute_script("window.scrollTo(1080, 2160)")

    time.sleep(1)

    driver.execute_script("window.scrollTo(2160, 3240)")

    time.sleep(1)

    driver.execute_script("window.scrollTo(3240, 4320)")

    time.sleep(1)

    # mengambil elemen
    html = driver.page_source

    # parsing
    page = BeautifulSoup(html, 'html.parser')

    # search for boxes
    boxes = page.find_all("div", {"class": "css-5wh65g"})

    # menggunakan code sebelumnya dalan for-loop
    for box in boxes:
        try:

            # mencari nama produk
            list_nama = box.find("span", {"class": "OWkG6oHwAppMn1hIBsC3pQ=="})
            # memasukkan nilai ke wadah
            for nama in list_nama:
                nama_produk.append(nama.get_text().strip())
        except:
            nama_produk.append(None)

        try:
            # mencari harga produk
            list_harga = box.find("div", {"class":"_8cR53N0JqdRc+mQCckhS0g=="})
            # memasukkan nilai ke wadah
            for harga in list_harga :
                harga_produk.append(harga.get_text().strip())
        except:
            harga_produk.append(None)

        try:
            # mencari nama penjual
            list_penjual = box.find("span", {"class":"X6c-fdwuofj6zGvLKVUaNQ== -9tiTbQgmU1vCjykywQqvA== flip"})
            # memasukkan nilai ke wadah
            for penju in list_penjual:
                penjual.append(penju.get_text().strip())
        except:
            penjual.append(None)

        try:
            # mencari lokasi toko
            list_lokasi = box.find("span", {"class":"-9tiTbQgmU1vCjykywQqvA== flip"})
            # memasukkan nilai ke wadah
            for lokasi in list_lokasi:
                kota_toko.append(lokasi.get_text().strip())
        except:
            kota_toko.append(None)

        try:
            # mencari jumlah produk terjual
            list_jumlah = box.find("span", {"class":"eLOomHl6J3IWAcdRU8M08A=="})
            # memasukkan nilai ke wadah
            for jumlah in list_jumlah:
                banyaknya_terjual.append(jumlah.get_text().strip())
        except:
            banyaknya_terjual.append(None)

        try:
            # mencari rating produk
            list_rating = box.find("span", {"class":"nBBbPk9MrELbIUbobepKbQ=="})
            # memasukkan nilai ke wadah
            for rate in list_rating:
                rating_produk.append(rate.get_text().strip())
        except:
            rating_produk.append(None)

In [136]:
print(len(nama_produk))
print(len(harga_produk))
print(len(penjual))
print(len(kota_toko))
print(len(banyaknya_terjual))
print(len(rating_produk))

805
805
805
805
805
805

In [137]:
# Memasukkan nilai pada wadah ke sebuah dataframe
df = pd.DataFrame({
    'nama produk' : nama_produk,
    'harga produk': harga_produk,
    'penjual' : penjual,
    'kota toko': kota_toko,
    'banyaknya terjual' : banyaknya_terjual,
    'rating produk' : rating_produk
})

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 805 entries, 0 to 804
Data columns (total 6 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   nama produk        800 non-null    object
 1   harga produk       800 non-null    object
 2   penjual            800 non-null    object
 3   kota toko          800 non-null    object
 4   banyaknya terjual  774 non-null    object
 5   rating produk      751 non-null    object
dtypes: object(6)
memory usage: 37.9+ KB

In [138]:
# Mengeksport data ke file csv
df.to_csv("seblak.csv")

# B. Data Preparation

## 1. Eksplorasi Data

In [3]:
# Import csv
seblak_data = pd.read_csv("seblak.csv")

In [4]:
# Menampilkan beberapa data dalam dataframe
seblak_data.head()

,Unnamed: 0,nama produk,harga produk,penjual,kota toko,banyaknya terjual,rating produk
0,0,Seblak Rafael/Seblak Coet Instan Halal,Rp26.600,Foodstocks,Jakarta Selatan,250+ terjual,5.0
1,1,"Seblak Rafael, Seblak Coet Instan Halal",Rp25.000,Brother Meat Shop,Depok,500+ terjual,5.0
2,2,kerupuk seblak pedas 1 kg / kerupuk seblak,Rp35.625,Adila_Putri_Snack,Kab.Ciamis,100+ terjual,4.8
3,3,seblak kerupuk beton/jaat pedas daun jeruk isi...,Rp36.000,Cemilan huhah,Kab. Bandung,NaN,NaN
4,4,Seblak Instan,Rp8.000,ROEMAH MOSLEM,Kab. Boyolali,70+ terjual,5.0

Berdasarkan tampilan kepala data, didapatkan bahwa tabel berisi 7 kolom. dalam kolom 'banyaknya terjual' dan 'rating produk' terdapat nilai NaN yang didapat karena produk tersebut baru dijual sehingga belum memiliki data jumlah produk terjual dan rating produk. Nilai NaN ini dapat mempengaruhi analisis data sehingga nanti perlu dilakukan pembersihan data pada tabel ini.

In [5]:
# Menampilkan rangkuman data
seblak_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 805 entries, 0 to 804
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0         805 non-null    int64
 1   nama produk        800 non-null    object
 2   harga produk       800 non-null    object
 3   penjual            800 non-null    object
 4   kota toko          800 non-null    object
 5   banyaknya terjual  774 non-null    object
 6   rating produk      751 non-null    float64
dtypes: float64(1), int64(1), object(5)
memory usage: 44.2+ KB

Informasi rangkuman dari data menunjukkan bahwa terdapat perbedaan jumlah data pada setiap kolom dan tipe kolom 'harga produk' dan 'banyaknya terjual' masih belum sesuai dimana tipe kedua kolom tersebut saat ini adalah 'object'. Perlu dilakukan penanganan missing value untuk menyamakan jumlah data semua kolom dan pembersihan serta penggantian tipe data pada kolom 'harga produk' dan 'banyaknya terjual' ke tipe float agar dapat melakukan analisis pada kedua kolom tersebut.

In [6]:
# Pengecekan missing value
seblak_data.isnull().sum()

Unnamed: 0            0
nama produk           5
harga produk          5
penjual               5
kota toko             5
banyaknya terjual    31
rating produk        54
dtype: int64

Berdasarkan pengecekan missing value, terdapat 5 nilai yang hilang dari kolom 'nama produk', 'harga produk', 'penjual' dan 'kota toko'. untuk nilai hilang pada kolom-kolom tersebut akan dihapus barisnya. Pada kolom 'banyaknya terjual' dan 'rating produk' nilai missing akan diganti menjadi 0 untuk lebih menggambarkan nilai dari produk tersebut.

In [7]:
# Menghapus missing value pada kolom 'nama produk'
seblak_data_namaclean = seblak_data.dropna(subset=['nama produk'])

In [8]:
# pengecekan kembali terhadap missing value yang tersisa
seblak_data_namaclean.isnull().sum()

Unnamed: 0            0
nama produk           0
harga produk          0
penjual               0
kota toko             0
banyaknya terjual    26
rating produk        49
dtype: int64

Missing value pada setiap kolom telah berkurang 5. Missing value yang tersisa di kolom 'banyaknya terjual' dan 'rating produk' sebaiknya tidak dihilangkan namun diganti menjadi '0' dengan asumsi produk tersebut baru dijual sehingga belum memiliki data jumlah produk terjual dan rating produk untuk perhitungan yang lebih bagus.

In [9]:
# Mengganti missing value yang tersisa menjadi 0
seblak_clean = seblak_data_namaclean.fillna(0)

In [10]:
# Pengecekan ulang
seblak_clean.info()

<class 'pandas.core.frame.DataFrame'>
Index: 800 entries, 0 to 804
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0         800 non-null    int64
 1   nama produk        800 non-null    object
 2   harga produk       800 non-null    object
 3   penjual            800 non-null    object
 4   kota toko          800 non-null    object
 5   banyaknya terjual  800 non-null    object
 6   rating produk      800 non-null    float64
dtypes: float64(1), int64(1), object(5)
memory usage: 50.0+ KB

Jumlah data setiap kolom sudah sama, selanjutnya perlu dilakukan pembersihan data pada kolom 'harga produk' dan 'banyaknya terjual' sebelum diubah tipe datanya menjadi float.

In [11]:
# Menampilkan nilai pada kolom 'harga produk'
seblak_clean['harga produk'].unique()

array(['Rp26.600', 'Rp25.000', 'Rp35.625', 'Rp36.000', 'Rp8.000',
       'Rp5.900', 'Rp12.225', 'Rp5.750', 'Rp18.000', 'Rp6.000', 'Rp8.200',
       'Rp17.000', 'Rp16.000', 'Rp11.500', 'Rp14.000', 'Rp5.999',
       'Rp5.558', 'Rp4.450', 'Rp3.500', 'Rp12.788', 'Rp9.999', 'Rp54.825',
       'Rp13.000', 'Rp35.000', 'Rp24.500', 'Rp85.000', 'Rp38.000',
       'Rp19.000', 'Rp31.500', 'Rp30.000', 'Rp5.500', 'Rp19.500',
       'Rp14.375', 'Rp7.138', 'Rp15.750', 'Rp5.000', 'Rp15.000',
       'Rp7.500', 'Rp17.499', 'Rp26.500', 'Rp26.666', 'Rp21.750',
       'Rp6.499', 'Rp25.750', 'Rp4.000', 'Rp51.771', 'Rp3.900',
       'Rp29.000', 'Rp65.000', 'Rp45.500', 'Rp18.999', 'Rp30.150',
       'Rp13.900', 'Rp44.500', 'Rp20.000', 'Rp45.000', 'Rp7.250',
       'Rp14.990', 'Rp24.225', 'Rp7.142', 'Rp51.152', 'Rp4.200',
       'Rp41.000', 'Rp12.250', 'Rp9.000', 'Rp10.000', 'Rp12.500',
       'Rp13.999', 'Rp93.840', 'Rp25.999', 'Rp14.999', 'Rp28.500',
       'Rp47.840', 'Rp8.380', 'Rp64.000', 'Rp18.500', 'Rp27.500',
       'Rp12.825', 'Rp3.479', 'Rp17.850', 'Rp5.100', 'Rp29.760',
       'Rp56.300', 'Rp4.500', 'Rp27.999', 'Rp23.000', 'Rp39.525',
       'Rp15.999', 'Rp25.576', 'Rp51.900', 'Rp12.999', 'Rp16.999',
       'Rp32.999', 'Rp16.555', 'Rp37.000', 'Rp23.500', 'Rp4.180',
       'Rp6.800', 'Rp8.900', 'Rp12.000', 'Rp33.999', 'Rp6.999',
       'Rp40.000', 'Rp42.500', 'Rp7.950', 'Rp5.400', 'Rp19.950',
       'Rp8.800', 'Rp28.861', 'Rp37.799', 'Rp22.500', 'Rp6.700',
       'Rp11.000', 'Rp34.999', 'Rp19.975', 'Rp7.999', 'Rp32.500',
       'Rp46.000', 'Rp105.705', 'Rp47.900', 'Rp2.500', 'Rp28.000',
       'Rp140.000', 'Rp23.950', 'Rp14.250', 'Rp8.500', 'Rp9.916',
       'Rp50.920', 'Rp18.360', 'Rp26.125', 'Rp75.430', 'Rp16.800',
       'Rp38.999', 'Rp7.400', 'Rp23.512', 'Rp20.482', 'Rp22.325',
       'Rp14.960', 'Rp35.999', 'Rp9.300', 'Rp86.130', 'Rp5.048',
       'Rp14.500', 'Rp3.800', 'Rp90.000', 'Rp13.600', 'Rp21.375',
       'Rp122.550', 'Rp17.999', 'Rp21.000', 'Rp25.500', 'Rp14.900',
       'Rp294.120', 'Rp39.999', 'Rp35.789', 'Rp14.590', 'Rp9.500',
       'Rp15.897', 'Rp99.615', 'Rp17.300', 'Rp55.000', 'Rp15.500',
       'Rp12.900', 'Rp10.999', 'Rp3.700', 'Rp34.500', 'Rp7.450',
       'Rp8.355', 'Rp62.000', 'Rp4.951', 'Rp12.300', 'Rp20.999',
       'Rp10.500', 'Rp44.000', 'Rp38.880', 'Rp5.702', 'Rp3.000',
       'Rp24.700', 'Rp21.700', 'Rp5.950', 'Rp22.000', 'Rp70.000',
       'Rp30.500', 'Rp8.950', 'Rp4.950', 'Rp111.795', 'Rp25.900',
       'Rp18.599', 'Rp23.400', 'Rp36.500', 'Rp13.500', 'Rp6.666',
       'Rp34.000', 'Rp11.999', 'Rp47.000', 'Rp34.560', 'Rp53.000',
       'Rp3.999', 'Rp78.280', 'Rp16.700', 'Rp28.615', 'Rp44.999',
       'Rp6.250', 'Rp4.999', 'Rp10.965', 'Rp89.999', 'Rp9.900',
       'Rp10.599', 'Rp7.000', 'Rp3.400', 'Rp2.000', 'Rp17.500',
       'Rp67.900', 'Rp26.000', 'Rp34.950', 'Rp20.750', 'Rp79.000',
       'Rp63.000', 'Rp51.870', 'Rp16.500', 'Rp10.888', 'Rp12.165',
       'Rp187.050', 'Rp5.499', 'Rp106.000', 'Rp6.200', 'Rp5.700',
       'Rp305.200', 'Rp19.110', 'Rp2.600', 'Rp115.000', 'Rp7.399',
       'Rp50.000', 'Rp22.990', 'Rp21.599', 'Rp15.520', 'Rp6.850',
       'Rp48.000', 'Rp7.200', 'Rp17.900', 'Rp22.900', 'Rp20.425',
       'Rp51.060', 'Rp2.881', 'Rp7.960', 'Rp19.900', 'Rp4.250',
       'Rp46.750', 'Rp8.999', 'Rp64.815', 'Rp8.499', 'Rp6.500',
       'Rp650.000', 'Rp24.000', 'Rp4.750', 'Rp5.850', 'Rp19.100',
       'Rp52.440', 'Rp27.075', 'Rp7.821', 'Rp22.800', 'Rp17.700',
       'Rp32.400', 'Rp242.000', 'Rp9.360', 'Rp39.059', 'Rp13.591',
       'Rp75.000', 'Rp23.275', 'Rp8.100', 'Rp39.000', 'Rp100.000',
       'Rp53.500', 'Rp4.025', 'Rp6.142', 'Rp32.900', 'Rp16.900',
       'Rp3.499', 'Rp8.600', 'Rp3.000.000', 'Rp128.000', 'Rp11.900',
       'Rp9.859', 'Rp7.941', 'Rp5.300', 'Rp63.940', 'Rp7.750', 'Rp18.210',
       'Rp10.900', 'Rp4.299', 'Rp16.990', 'Rp14.399', 'Rp13.200', 'Rp400',
       'Rp11.700', 'Rp5.350', 'Rp40.999', 'Rp8.075'], dtype=object)

Berdasarkan info diatas, kolom ini perlu dilakukan penghapusan 'Rp' dan pemisah ribuan '.' sebelum diubah tipenya menjadi float.

In [12]:
# menghilangkan 'Rp', '.' dan mengubah tipe data menjadi float
seblak_clean['harga produk'] = seblak_clean['harga produk'].str.replace('Rp', '')
seblak_clean['harga produk'] = seblak_clean['harga produk'].str.replace('.', '')
seblak_clean['harga produk'] = seblak_clean['harga produk'].astype(float)

In [13]:
# Menampilkan nilai pada kolom 'harga produk'
seblak_clean['banyaknya terjual'].unique()

array(['250+ terjual', '500+ terjual', '100+ terjual', 0, '70+ terjual',
       '750+ terjual', '2rb+ terjual', '1rb+ terjual', '10rb+ terjual',
       '4 terjual', '3rb+ terjual', '4rb+ terjual', '29 terjual',
       '1 terjual', '60+ terjual', '24 terjual', '7rb+ terjual',
       '20 terjual', '2 terjual', '13 terjual', '40+ terjual',
       '80+ terjual', '50+ terjual', '11 terjual', '30+ terjual',
       '14 terjual', '17 terjual', '9 terjual', '8rb+ terjual',
       '5 terjual', '21 terjual', '12 terjual', '22 terjual', '7 terjual',
       '16 terjual', '28 terjual', '10 terjual', '6 terjual', '8 terjual',
       '23 terjual', '25 terjual', '90+ terjual', '19 terjual',
       '15 terjual', '18 terjual', '3 terjual', '5rb+ terjual',
       '26 terjual', '27 terjual'], dtype=object)

Untuk kolom banyaknya terjual, karena setelah mengganti missing value menjadi '0' membuat tipe data dalam kolom tersebut tercampur antara string dan integer, pertama tipe data kolom perlu diubah menjadi string dahulu sebelum dilakukan pembersihan string berupa menghapus kata ' terjual' lalu mengubah 'rb+' menjadi '000' dan menghilangkan tanda '+' yang tersisa lalu diubah tipenya menjadi float.

In [14]:
# mengubah tipe data menjadi string, lalu melakukan pembersihan string dan akhirnya mengubah tipe data menjadi float
seblak_clean['banyaknya terjual'] = seblak_clean['banyaknya terjual'].astype(str)
seblak_clean['banyaknya terjual'] = seblak_clean['banyaknya terjual'].str.replace(' terjual', '')
seblak_clean['banyaknya terjual'] = seblak_clean['banyaknya terjual'].str.replace('rb+', '000')
seblak_clean['banyaknya terjual'] = seblak_clean['banyaknya terjual'].str.replace('+', '')
seblak_clean['banyaknya terjual'] = seblak_clean['banyaknya terjual'].astype(float)

In [15]:
# menghapus kolom 'Unnamed: 0'
seblak_clean = seblak_clean.drop(['Unnamed: 0'], axis=1)

In [16]:
# cek info data
seblak_clean.info()

<class 'pandas.core.frame.DataFrame'>
Index: 800 entries, 0 to 804
Data columns (total 6 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   nama produk        800 non-null    object
 1   harga produk       800 non-null    float64
 2   penjual            800 non-null    object
 3   kota toko          800 non-null    object
 4   banyaknya terjual  800 non-null    float64
 5   rating produk      800 non-null    float64
dtypes: float64(3), object(3)
memory usage: 43.8+ KB

jumlah data pada seluruh kolom sudah sama, tipe data untuk harga produk dan jumlah produk terjual sudah diganti dengan float, pembersihan data selesai.

# C. Problem Statement

## SMART Framework

S: Menjual seblak di Tokopedia dengan sistem dropship

M: GMV per bulan sebesar Rp 8,000,000.00

A: Berdasarkan rata-rata harga jual dan jumlah produk terjual di Tokopedia, GMV sebesar Rp 8,000,000.00 dapat tercapai

R: Seblak merupakan makanan yang diminati banyak orang saat ini

T: Proyek ini akan dijalankan dalam waktu 2 bulan

## Kesimpulan

Menjual seblak dengan sistem dropship di Tokopedia dapat dilakukan untuk mendapatkan penghasilan tambahan dengan perkiraan GMV sebesar Rp 8,000,000 dalam waktu 2 bulan.

# D. Analisis

1. Untuk memiliki gambaran seperti apa pasar penjualan seblak di Tokopedia, saya mencari nilai rata-rata, median, dan standar deviasi dari kolom harga, banyak produk yang terjual, dan rating. setelah itu, saya juga mengecek nilai skewness dan kurtosis dari kolom-kolom tersebut untuk mengetahui apakah distribusi data yang saya peroleh cukup menggambarkan kondisi pasar seblak dengan baik.

In [25]:
# import library yang dibutuhkan
from scipy import stats
import numpy as np

In [18]:
# Analisis harga seblak
print('Harga seblak rata-rata:',seblak_clean['harga produk'].mean())
print('Median harga seblak:',seblak_clean['harga produk'].median())
print('Modus harga seblak:',seblak_clean['harga produk'].mode().values[0])
print('Standar deviasi harga seblak',seblak_clean['harga produk'].std())
print('Skewness harga seblak',seblak_clean['harga produk'].skew())
print('Nilai Kurtosis harga seblak',seblak_clean['harga produk'].kurtosis())

Harga seblak rata-rata: 26760.04875
Median harga seblak: 15000.0
Modus harga seblak: 8000.0
Standar deviasi harga seblak 110795.7898545704
Skewness harga seblak 24.53355197018115
Nilai Kurtosis harga seblak 652.3268382519445

Berdasarkan perhitungan rata-rata, median, dan modus harga seblak diketahui bahwa harga rata-rata produk seblak di Tokopedia adalah Rp 26,760.00 dengan nilai median harga seblak sebesar Rp 15,000.00. Hal ini menunjukkan bahwa kemungkinan beberapa toko menjual seblak dengan harga tinggi sehingga menarik harga rata-rata lebih tinggi dari harga median walaupun kebanyakan toko menaruh harga dibawah harga median. Standar deviasi menunjukkan bahwa rata-rata toko menjual seblaknya dengan variasi harga sebesar Rp 11,0795.00 dibanding harga rata-rata di Tokopedia. Skewness yang positif menunjukkan bahwa distribusi harga seblak bersifat skewed dan tidak normal dimana kebanyakan toko menjual seblak dengan harga dibawah rata-rata sehingga ekor dari distribusi harga seblak mengarah ke kanan. Nilai kurtosis yang tinggi menunjukkan bahwa banyak terdapat outlier pada data.

In [19]:
# Analisis jumlah produk terjual
print('jumlah produk terjual rata-rata:',seblak_clean['banyaknya terjual'].mean())
print('Median jumlah produk terjual:',seblak_clean['banyaknya terjual'].median())
print('Modus jumlah terjual:',seblak_clean['banyaknya terjual'].mode().values[0])
print('Standar deviasi jumlah terjual',seblak_clean['banyaknya terjual'].std())
print('Skewness jumlah terjual',seblak_clean['banyaknya terjual'].skew())
print('Nilai Kurtosis jumlah terjual',seblak_clean['banyaknya terjual'].kurtosis())

jumlah produk terjual rata-rata: 398.9925
Median jumlah produk terjual: 90.0
Modus jumlah terjual: 100.0
Standar deviasi jumlah terjual 1151.0426225133049
Skewness jumlah terjual 5.894325546474521
Nilai Kurtosis jumlah terjual 40.85310785155784

Berdasarkan perhitungan diatas, nilai rata-rata penjualan seblak lebih banyak dari nilai tengah dari penjualan seblak seluruh toko dari sampel data yang diambil dan dari nilai modus juga dapat disimpulkan kebanyakan toko menjual seblak lebih banyak dari nilai tengah dari penjualan seblak seluruh toko. Standar deviasi menunjukkan adanya beberapa toko yang menjual jauh lebih banyak atau lebih sedikit dari rata-rata penjualan toko lainnya. Nilai skewness yang positif menunjukkan bahwa distribusi jumlah penjualan seblak setiap toko kebanyakan berada dibawah nilai rata-rata dengan ekor distribusi di sebelah kanan. Nilai kurtosis yang tinggi menunjukkan bahwa banyak terdapat outlier pada data.

In [20]:
# Analisis rating
print('rating rata-rata:',seblak_clean['rating produk'].mean())
print('Median rating:',seblak_clean['rating produk'].median())
print('Modus rating:',seblak_clean['rating produk'].mode().values[0])
print('Standar deviasi rating',seblak_clean['rating produk'].std())
print('Skewness rating',seblak_clean['rating produk'].skew())
print('Nilai Kurtosis rating',seblak_clean['rating produk'].kurtosis())

rating rata-rata: 4.577125
Median rating: 4.9
Modus rating: 4.9
Standar deviasi rating 1.1785374081474855
Skewness rating -3.5793988615845214
Nilai Kurtosis rating 11.0542726408479

Berdasarkan perhitungan diatas, rata-rata rating produk berada dibawah nilai tengah dan modus dari distribusi nilai rating produk seblak di Tokopedia. Standar deviasi yang kecil menunjukkan bahwa variasi nilai rating produk seblak di Tokopedia tidak jauh dari nilai rata-ratanya. Nilai skewness yang negatif menunjukkan bahwa kebanyakan data di distribusi nilai produk berada diatas nilai rata-rata. Nilai kurtosis menunjukkan ada beberapa outlier pada distribusi nilai rating produk seblak di Tokopedia.

2. Setelah melakukan analisis terhadap harga jual, jumlah produk yang terjual, dan rating produk, saya melakukan analisis terhadap potensi pemasukkan yang bisa saya dapat dengan menghitung batas atas dan batas bawah dari data penjualan seblak yang saya miliki.

Dengan asumsi angka penjualan dari tokopedia merupakan jumlah penjualan terjual dan data terdistribusi normal, langkah pertama saya adalah membuat kolom baru yang berupa tabel pendapatan setiap toko.

In [22]:
# Membuat kolom baru
seblak_clean['pendapatan'] = seblak_clean['harga produk'] * seblak_clean['banyaknya terjual']

In [23]:
seblak_clean

,nama produk,harga produk,penjual,kota toko,banyaknya terjual,rating produk,pendapatan
0,Seblak Rafael/Seblak Coet Instan Halal,26600.0,Foodstocks,Jakarta Selatan,250.0,5.0,6650000.0
1,"Seblak Rafael, Seblak Coet Instan Halal",25000.0,Brother Meat Shop,Depok,500.0,5.0,12500000.0
2,kerupuk seblak pedas 1 kg / kerupuk seblak,35625.0,Adila_Putri_Snack,Kab.Ciamis,100.0,4.8,3562500.0
3,seblak kerupuk beton/jaat pedas daun jeruk isi...,36000.0,Cemilan huhah,Kab. Bandung,0.0,0.0,0.0
4,Seblak Instan,8000.0,ROEMAH MOSLEM,Kab. Boyolali,70.0,5.0,560000.0
...,...,...,...,...,...,...,...
800,"Kylafood Seblak Rempah Autentik 115gr, Seblak ...",12250.0,Brother Meat Shop,Depok,100.0,4.9,1225000.0
801,Seblak Kerupuk Kering Pedas 70 Gram - KRAUKS S...,9000.0,Krauks Store,Bogor,0.0,0.0,0.0
802,SEBLAK INSTAN MOMMY,13900.0,Rav Jaya Display,Kab. Tangerang,1000.0,4.8,13900000.0
803,seblak kencur / okesnack,10000.0,oke snack,Jakarta Selatan,750.0,4.9,7500000.0
804,Kerupuk Seblak Pedas Gurih Kencur 250 Gram - T...,14000.0,TAM SNACK,Depok,100.0,4.9,1400000.0

In [29]:
#Mencari batas atas dan batas bawah dari pendapatan
std = seblak_clean['pendapatan'].std()
N = len(seblak_clean)
low, up = stats.norm.interval(0.95,loc=seblak_clean['pendapatan'].mean(),scale=std/np.sqrt(N))
print('Lower Limit:',low)
print('Upper Limit:',up)

Lower Limit: 5774677.86979913
Upper Limit: 9606620.787700871

Berdasarkan perhitungan batas atas dan bawah dengan confidence level sebesar 95% dengan distribusi data dianggap normal diperoleh bahwa pendapatan minimal yang dapat saya peroleh dengan menjual seblak adalah sebesar Rp 5,774,677.00 dan maksimalnya sebesar Rp 9,606,620.00 per bulan.

3. Setelah mengetahui batas bawah dan batas atas dari potensi pendapatan yang didapat, saya perlu mengecek apakah harga barang di jabodetabek sama dengan di luar daerah jabodetabek karena harga di luar daerah bisa saja terpengaruhi oleh perbedaan harga barang baku dan biaya ongkos. Untuk menguji hal ini, saya melakukan test dua sampel dengan hipotesis

H0 = Harga rata-rata seblak di JABODETABEK tidak jauh berbeda dengan harga seblak di luar JABODETABEK

H1 = Harga rata-rata seblak di JABODETABEK sangat berbeda dengan harga seblak di luar JABODETABEK

hal pertama yang perlu dilakukan adalah mengecek asal toko di database

In [30]:
# melihat daftar nama unik dari kolom kota toko
seblak_clean['kota toko'].unique()

array(['Jakarta Selatan', 'Depok', 'Kab.Ciamis', 'Kab. Bandung',
       'Kab. Boyolali', 'Surabaya', 'Bandung', 'Tangerang Selatan',
       'Medan', 'Kab. Garut', 'Jakarta Timur', 'Kab. Bogor',
       'Kab. Bekasi', 'Tangerang', 'Kab. Tasikmalaya', 'Kab. Indramayu',
       'Cimahi', 'Jakarta Barat', 'Kab. Sukoharjo', 'Kab. Sukabumi',
       'Banjarbaru', 'Kab. Tangerang', 'Kediri', 'Kab. Majalengka',
       'Bogor', 'Makassar', 'Tasikmalaya', 'Jakarta Pusat',
       'Kab. Sidoarjo', 'Kab. Bandung Barat', 'Surakarta',
       'Kab. Magelang', 'Kab. Bantul', 'Kab. Sumedang', 'Jakarta Utara',
       'Pekanbaru', 'Bekasi', 'Denpasar', 'Kab. Pekalongan',
       'Kab. Malang', 'Kab. Badung', 'Kab. Madiun', 'Semarang', 'Malang',
       'Kab. Jember', 'Kab. Cianjur', 'Kab. Cirebon', 'Kab. Mojokerto',
       'Pontianak', 'Bandar Lampung', 'Palembang', 'Kab. Gresik',
       'Kab. Nganjuk', 'Kab. Kediri', 'Kab. Brebes', 'Kab. Kebumen',
       'Kab. Jombang', 'Kab. Purwakarta', 'Kab. Lebak', 'Kab. Batang',
       'Kab. Sleman', 'Kab. Purworejo', 'Kab. Banyumas', 'Banjar',
       'Samarinda', 'Kab. Tegal', 'Kab. Hulu Sungai Tengah', 'Batam'],
      dtype=object)

Didapatkan daerah yang termasuk daerah JABODETABEK adalah Jakarta Selatan, Depok, Tangerang Selatan, Jakarta Timur, Kab. Bogor, Kab. Bekasi, Tangerang, Jakarta Barat, Kab. Tangerang, Bogor, Jakarta Pusat, Jakarta Utara, Bekasi. Di luar dari daerah tersebut adalah daerah Non-JABODETABEK. Langkah selanjutnya adalah membuat tabel baru yang menyatakan suatu barang dijual di daerah JABODETABEK atau Non-JABODETABEK.

In [31]:
# membuat list daftar kota yang termasuk daerah JABODETABEK
jabodetabek = ['Jakarta Selatan', 'Depok', 'Tangerang Selatan', 'Jakarta Timur', 'Kab. Bogor', 'Kab. Bekasi', 'Tangerang', 'Jakarta Barat', 'Kab. Tangerang', 'Bogor', 'Jakarta Pusat', 'Jakarta Utara', 'Bekasi']

In [32]:
# membuat wadah untuk nama daerah toko
daerah = []

In [33]:
# mencocokkan kota toko dengan list jabodetabek untuk ditambahkan nilai daerah sesuai lokasinya
for kota in seblak_clean['kota toko']:
    if kota in jabodetabek:
        daerah.append('JABODETABEK')
    else:
        daerah.append('Non-JABODETABEK')

In [34]:
# menambah kolom daerah
seblak_clean['daerah'] = daerah

setelah menambah kolom daerah, ambil tabel berisi kolom daerah dan harga jual dengan daerah JABODETABEK dan Non-JABODETABEK

In [44]:
# tabel harga jabodetabek
tabel_jabodetabek = seblak_clean[seblak_clean['daerah'] == 'JABODETABEK'][['harga produk']]

In [45]:
tabel_jabodetabek

     harga produk
0         26600.0
1         25000.0
11        17000.0
12        16000.0
17         4450.0
..            ...
800       12250.0
801        9000.0
802       13900.0
803       10000.0
804       14000.0

[264 rows x 1 columns]

In [47]:
# tabel harga non-jabodetabek
tabel_nonjabodetabek = seblak_clean[seblak_clean['daerah'] == 'Non-JABODETABEK'][['harga produk']]

In [48]:
tabel_nonjabodetabek

     harga produk
2         35625.0
3         36000.0
4          8000.0
5          5900.0
6         12225.0
..            ...
795       40999.0
796        7500.0
797       50920.0
798        8075.0
799       40000.0

[536 rows x 1 columns]

In [49]:
#mencari t_stat dan p_val dan melakukan uji hipotesa
t_stat, p_val = stats.ttest_ind(tabel_jabodetabek['harga produk'],tabel_nonjabodetabek['harga produk'])
print('T-Statistic:',t_stat)
print('P-value:',p_val) #

T-Statistic: 1.638192809919917
P-value: 0.10177567854057655

Nilai P-value lebih kecil dari 0.5, berarti H0 ditolak dan H1 diterima. Hasil analisis P-value menunjukkan bahwa harga rata-rata seblak di JABODETABEK sangat berbeda dengan harga seblak di luar JABODETABEK.

4. Setelah mengetahui perbandingan harga seblak di wilayah JABODETABEK dan di luarnya, saya ingin tahu apakah orang-orang lebih suka produk berharga murah atau tidak. Saya mencari korelasi antara harga barang dengan jumlah produk terjual dan ratingnya untuk memastikan. Karena datanya sebenarnya skewed, saya memilih untuk melakukan korelasi dengan metode spearman

In [53]:
# cek korelasi antara harga barang dengan jumlah produk terjual
corr_rho, pval_s = stats.spearmanr(seblak_clean['harga produk'], seblak_clean['banyaknya terjual'])
print(f"rho-correlation: {corr_rho:.2f}, p-value: {pval_s}")

rho-correlation: -0.04, p-value: 0.31077591774441954

p value lebih dari 0.05, korelasi antar harga produk dengan jumlah produk yang terjual lemah.

In [54]:
# cek korelasi antara harga barang dengan rating produk
corr_rho, pval_s = stats.spearmanr(seblak_clean['harga produk'], seblak_clean['rating produk'])
print(f"rho-correlation: {corr_rho:.2f}, p-value: {pval_s}")

rho-correlation: -0.03, p-value: 0.4029535204947985

p value lebih dari 0.05, korelasi antar harga produk dengan rating produk lemah.

# E. Kesimpulan

Berdasarkan analisis yang dilakukan, didapatkan dari pengukuran central tendency bahwa kebanyakan toko menjual seblak dengan harga dibawah harga rata-rata dan jumlah penjualan juga dibawah rata-rata, namun kebanyakan pembeli merasa puas dengan produk seblak dengan memberi produk rating yang diatas rata-rata. Berdasarkan perhitungan batas bawah dan batas atas, dapat diperkirakan potensi penjualan seblak perbulannya berkisar diantara Rp 5,774,677.00 sampai Rp 9,606,620.00 per bulan. Berdasarkan hasil tes dua sampel, didapatkan bahwa harga penjualan di JABODETABEK berbeda dengan di luar daerah JABODETABEK. Berdasarkan perhitungan korelasi antara harga barang dengan jumlah barang terjual dan rating produk tidak ditemukan adanya korelasi yang signifikan antara parameter-parameter tersebut. Berdasarkan analisis ini saya berpendapat untuk menyesuaikan angka GMV dalam Problem statement saya dari Rp 8,000,000.00 pebulan menjadi Rp 6,000,000.00 per bulan karena terlihat lebih achievable dari target sebelumnya.